

body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
#map {
        bottom: 0px;
        height: 100%;
        left: 400px;
        position: absolute;
        right: 0px;
        width: 100%;
}



.input_Text{ 
    margin-left: -112px;
    width: 220px;
      position: absolute;
      z-index: 10;
      padding-left: 15px;
    margin: auto;
    font-size: medium;
    height: 34px;
    border: solid 2px #000;

}

ul li:hover {
        background-color:#f7cda9;

}
